<app-home3-nav></app-home3-nav>
<div class="main">
   <div class="image" data-aos="fade-in">
    <img [src]="img" alt="" style="height: 500px; width:500px">
</div>
<div class="desc" data-aos="slide-down">
<h1>Blood connects us all</h1>
<h3>The gift of blood is the gift of life</h3>
</div>
<div  class="buttons" >
    <div>
    <a href="/find1" type="button">Spot-Donor</a>
    <a href="profile2" type="button">My-Profile</a>

</div>
<div>
    <a href="fn-donation" type="button">Donations-List</a>
    <a href="fn-help" type="button">Help-us</a>
</div>
</div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
