body{
    position: absolute;
    background-color: #5F90A1;
    width: 100%;
    height: 370vh;
    
  }
  
  h2{
  /* color: #ffffff;
  text-shadow: 0 0 8px #000000; */
  margin-bottom: 60px;
  margin-top: 30px;
  animation: glow1 3s infinite;
  }
  
  @keyframes glow1 {
  0%{
    color: #ffffff;
    text-shadow: 0 0 8px #000000;
  }
  50%{
    color: #000000;
    text-shadow: 0 0 8px #ffffff;
  }
  100%{
    color: #ffffff;
    text-shadow: 0 0 8px #000000;
  }
  }
  .container {
    max-width: 500px;
    margin: 95px auto;
    /* background-color: #fff; */
    padding: 20px;
    height: auto;
    background-color: #5F90A1;
    border-radius: 20px;
    /* background: linear-gradient(135deg, rgba(240, 239, 239, 0.144), rgba(224, 224, 224, 0.13));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
  animation: glow 3s infinite;
  flex-wrap: wrap;
  }
  
  @keyframes glow {
    0%{
      border: 4px solid #000000;
    }
    50%{
      border: 4px solid #ffffff;
    }
    100%{
      border: 4px solid #000000;
    }
  }
  
  h2 {
    text-align: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -10px; */
  }
  
  .col {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  
  .col-25 {
    width: 25%;
  }
  
  .col-75 {
    width: 100%;
    
  }
  
  .col-30 {
      width: 60%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #000000;
    border-radius: 0.6rem;
    box-sizing: border-box;
    background-color: #f8f8f8;
  }
  
  select:hover{
    background-color: #ccc;
  }
  
  input:hover{
    background-color: #ccc;
  }
  
  textarea:hover{
    background-color: #ccc;
  }
  
  .bg{
    background-color: #ffffff;
    border: 1px solid #000000;
    height: 48px;
    width: 100%;
    border-radius: 0.6rem;
    margin-top: 8px;
  }

  .bg1{
    background-color: #ffffff;
    border: 1px solid #000000;
    height: 48px;
    width: 100%;
    border-radius: 0.6rem;
    margin-top: 8px;
    text-align: center;
  }
  
  .align{
    width: 300px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="submit"] {
    height: 60px;
    width: 180px;
    font-size: large;
    align-items: center;
    margin-left: 135px;
    margin-top: 20px;
    background-color:transparent;
    border:1px solid #AF3237;
    color:#000000;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
  
  input[type="submit"]:hover {
    color: #ffffff;
    background-color: #a03a3a;
    border-color: #ccc;
  }
  /* .sub{
    margin-left: 30%;
    margin-top: 7%;
  } */
  .align{
    margin-top: 5px;
  }

  .radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-right: 10%;
  }

  .row1 {
    display: flex;
    flex-wrap: wrap;
}

.radio-container label {
  padding:10px auto;
  margin: 20px auto;
}

.radio1{
    width: 20px;
    height: 20px;
}
  
  @media (max-width: 600px) {
    .col {
      width: 100%;
    }
    .align{
      width: 250px;
    }
    .vid{
      position: absolute;
      height: 2000px;
    }
    input[type="submit"] {
      margin-left: 64px;
      margin-top: 20px;
    }
    .radio-container {
        flex-direction: row;
    }
  }