<app-home2-nav></app-home2-nav>
<div class="main">
   <div class="image" data-aos="fade-in" >
    <img [src]="img" alt="" style="height: 500px; width:500px">
</div>
<div class="desc" data-aos="slide-down">
<h1>Blood connects us all</h1>
<h3>The gift of blood is the gift of life</h3>
</div>
<div  class="buttons" >
    <a href="profile" type="button">My Profile</a>
    <a href="#" type="button">My Activity</a>
</div>
<div  class="buttons" >
    <a href="dn-donation" type="button">Donations-List</a>
    <a href="dn-help" type="button">Help-us</a>
</div>
</div>
<app-footer></app-footer>
