<app-nav1></app-nav1>
<section class="h-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <!-- <div class="col"> -->
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block 2">
                <img src="\assets\home2.png"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black v3">
                  <h3 class="heading">DROP US A MESSAGE</h3>
                  <h5>If you need blood please signup to get in contact with blood donor</h5>
                    <div class="card" style="border-radius: 15px;">
                      <div class="card-body">
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form3Example97">Name*</label>
                          <input type="text" id="form3Example97" class="form-control form-control-lg" />
                        </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example97">Email ID*</label>
                    <input type="text" id="form3Example97" class="form-control form-control-lg" />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example97">Phone Number*</label>
                    <input type="text" id="form3Example97" class="form-control form-control-lg" />
                  </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example97">Your Message*</label>
                <textarea id="form3Example97" class="form-control form-control-lg"  ></textarea>
              </div>
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-warning btn-lg ms-2" (click)="onclick()">Submit</button>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
<app-footer></app-footer>