<app-nav1></app-nav1>
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Who can give blood?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <p>Most people who are in good health can donate blood. However, there are some general guidelines:</p>
        <ul>
          <li>You must be at least 18 years old (or meet the minimum age requirement set by your country or blood donation center).</li>
          <li>You should weigh at least 50 kilograms (110 pounds).</li>
          <li>You must be in good overall health and feeling well on the day of donation.</li>
          <li>You should not have certain medical conditions or risk factors that could make blood donation unsafe.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        How often can I donate blood?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        You must wait at least eight weeks (56 days) between donations of whole blood.
        Whole blood donors can donate up to 6 times a year. 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Is blood donation safe?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <p>Yes, blood donation is generally safe when conducted in a controlled and hygienic environment by trained professionals. The blood collection process follows strict procedures to minimize any potential risks. The donated blood goes through screening tests to identify any infectious diseases before it is used for transfusion.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingfour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefour" aria-expanded="false" aria-controls="panelsStayOpen-collapsefour">
        What should I do after donating blood?
      </button>
    </h2>
    <div id="panelsStayOpen-collapsefour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingfour">
      <div class="accordion-body">
        <ul>
        After donating blood:
       <li>Drink an extra four glasses (eight ounces each) of non-alcoholic liquids.</li>
        <li>Keep your bandage on and dry for the next five hours, and do not do heavy exercising or lifting.</li>
        <li>If the needle site starts to bleed, raise your arm straight up and press on the site until the bleeding stops.</li>
        <li>Because you could experience dizziness or loss of strength, use caution if you plan to do anything that could put you or others at risk of harm. For any hazardous occupation or hobby, follow applicable safety recommendations regarding your return to these activities following a blood donation.</li>
        <li>Eat healthy meals and consider adding iron-rich foods to your regular diet, or discuss taking an iron supplement with your health care provider, to replace the iron lost with blood donation.</li>
        <li>If you get a bruise:  Apply ice to the area intermittently for 10-15 minutes during the first 24 hours. Thereafter, apply warm, moist heat to the area intermittently for 10-15 minutes. A rainbow of colors may occur for about 10 days.</li>
        <li>If you get dizzy or lightheaded:  Stop what you are doing, lie down, and raise your feet until the feeling passes and you feel well enough to safely resume activities.</li>
        <li>And remember to enjoy the feeling of knowing you have helped save lives!</li>
        <li>Schedule your next appointment.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
        Can I donate blood if I have a tattoo or piercing?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
      <div class="accordion-body">
        The eligibility guidelines regarding tattoos and piercings may vary depending on the country and specific circumstances. In some cases, a waiting period may be required after getting a tattoo or piercing before you can donate blood. It's recommended to consult with your local blood donation center for their specific policies.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
        Can I donate blood if I have a medical condition?      </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
      <div class="accordion-body">
        Certain medical conditions or medications may affect your eligibility to donate blood. Conditions such as chronic diseases, heart conditions, or infectious diseases may disqualify you from donating blood. It's essential to provide accurate information about your medical history during the screening process to ensure the safety of both donors and recipients.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
        What should I do before donating blood?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
      <div class="accordion-body">
       <p>Before donating blood, it is recommended to:</p>
        <ul>
       <li> Eat a healthy meal and stay hydrated.</li>
        <li>Get a good night's sleep prior to donation</li>.
        <li>Avoid alcohol consumption for at least 24 hours before donation.</li>
        <li>Inform the blood donation center about any medications or medical conditions you have.</li>
        <li>Bring a valid identification document, such as a driver's license or passport.</li>
        </ul>
        </div>
        </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
        Are there any side effects of blood donation?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
      <div class="accordion-body">
        Blood donation is generally safe, and most donors experience no significant side effects. However, some individuals may experience minor side effects such as dizziness, lightheadedness, or bruising at the needle insertion site. These side effects are usually temporary and can be managed by resting and staying hydrated after donation. 
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
