<app-nav1></app-nav1>
<div class="main">
  <div class="container1" >
    <img class="image1" [src]="img1" data-aos="zoom-in">
    <div class="text1" data-aos="fade-left">
      <h3>Quick and easy donor search</h3>
      <p>Our advanced search functionality enables users to easily locate 
        registered blood donors near their location. Simply input your requirements, 
        such as blood type and distance, and find a list of eligible donors within seconds.
      </p>
    </div>
  </div>


  <div class="container2" >
    <div class="text2" data-aos="fade-right">
      <h3>Verified Donor Profiles</h3>
      <p>We prioritize the safety and reliability of our users. 
        All registered donors undergo a thorough verification process, 
        ensuring their eligibility and commitment to blood donation. 
        Users can view detailed donor profiles, including their blood type, 
        contact information, and availability, to make informed decisions.</p>
    </div>
    <img class="image2" [src]="img2" data-aos="zoom-in">
  </div>


  <div class="container3" >
    <img class="image3" [src]="img3" data-aos="zoom-in">
    <div class="text3" data-aos="fade-left">
      <h3>Emergency Assitance</h3>
      <p>In critical situations, every second counts. 
        BloodConnect offers a dedicated emergency feature, allowing users 
        to connect with nearby donors urgently. This feature ensures that 
        those in dire need of blood receive immediate attention and support.
      </p>
    </div>
  </div>


  <div class="container4" >
    <div class="text4" data-aos="fade-right">
      <h3>Community Engagement</h3>
      <p>We foster a strong sense of community by facilitating communication 
        and feedback between donors and recipients. Users can leave reviews, 
        ratings, and express their gratitude, encouraging a culture of giving 
        back and recognizing the heroes who save lives through blood donation.</p>
    </div>
    <img class="image4" [src]="img4" data-aos="zoom-in">
  </div>


  <div class="container5" >
    <img class="image5" [src]="img5" data-aos="zoom-in">
    <div class="text5" data-aos="fade-left">
      <h3>Real Time Availability</h3>
      <p>BloodToConnect provides up-to-date information on the availability 
        of donors. Users can check the real-time status of donors to determine
        their willingness and ability to donate at any given time, increasing 
        the chances of successful connections.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>