<nav class="navbar navbar-expand-lg  navbar-light bg-transprent">
    <div class="container-fluid">
        <img [src]="image" width="80px" height="80px">
        <h1 style="color: #C81918;">B2C<p style="font-size: medium; color: black;">Blood To Connect</p></h1>
      <!-- <a class="navbar-brand con" href="#">{{logo}}</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home3">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/find1">Spot-Donor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="">Help-Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/home1">Log-Out</a>
          </li>
        </ul>
        
      </div>
    </div>
    
  </nav>

